.card {
	width: 400px;
	background-color: #f8f8f8;
	border: 1px solid #ddd;
	border-radius: 8px;
	padding: 30px;
	margin: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	transition: transform 0.2s, box-shadow 0.2s;
	word-wrap: break-word;
	word-break: break-word;
	white-space: normal;
	position: relative;
	text-align: center;
}

.buttonCard {
	background-color: #a421f9;
	border: none;
	color: white;
	padding: 8px 12px;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.2s;
}

.buttonCard:hover {
	background-color: #75148c;
}

.card:hover {
	transform: translateY(-2px);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.icon {
	width: 30px;
	height: 30px;
	position: absolute;
	cursor: pointer;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
}

.trash-icon {
	color: #f70505;
	background-color: #f5d5d5;
	top: 8px;
	right: 8px;
}

.trash-icon:hover {
	background-color: #f0a0a0;
}

.edit-icon {
	color: #0f0be6;
	background-color: #d3d3e0;
	bottom: 8px;
	right: 8px;
}

.edit-icon:hover {
	background-color: #b0b0e0;
}

.expand-icon {
	color: #000;
	background-color: #e0e0e0;
	bottom: 8px;
	left: 8px;
}

.expand-icon:hover {
	background-color: #c0c0c0;
}

.text-area-edit {
	border: 1px solid #ccc;
	border-radius: 10px;
	width: 400px;
	padding: 12px;
	box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 2px;
	margin-bottom: 2px;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	font-family: "Poppins", sans-serif;
	letter-spacing: 0.02em;
	resize: none;
}

.button-footer {
	padding: 10px;
	border-radius: 10px;
	border: none;
}

.save {
	background-color: #a421f9;
	color: white;
	margin-right: 15px;
}

.cancel {
	color: #a421f9;
	background-color: #ede3f4;
}

.avatar {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	object-fit: cover;
	margin-bottom: 15px;
}

.flex-evenly {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.icons-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.name {
	font-size: 18px;
	font-weight: 500;
}

.input-card {
	border: 1px solid #ccc;
	border-radius: 10px;
	width: 400px;
	padding: 12px;
	box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.25);
	box-sizing: border-box;
	margin-top: 2px;
	margin-bottom: 10px;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	font-family: "Poppins", sans-serif;
	letter-spacing: 0.02em;
}
