.flex {
	display: flex;
}

.card-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
	gap: 16px;
	padding: 16px;
	padding-bottom: 60px;
}

.no-patients-message {
	text-align: center;
	color: #999;
	font-size: 1.2em;
	margin-top: 20px;
}

.pagination-controls {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 0;
}

.pagination-controls button {
	margin: 0 10px;
	padding: 10px 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #fff;
	cursor: pointer;
}

.pagination-controls button:hover {
	background-color: #f0f0f0;
	border-color: #aaa;
}

.pagination-controls button:disabled {
	cursor: not-allowed;
	opacity: 0.5;
}

.pagination-controls span {
	margin: 0 20px;
	font-size: 16px;
}
