@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

.input {
	border: 1px solid #ccc;
	width: 400px;
	padding: 12px;
	box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 2px;
	margin-bottom: 2px;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	font-family: "Poppins", sans-serif;
	letter-spacing: 0.02em;
	resize: vertical;
	overflow: hidden;
}

.title {
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	color: #712c9c;
	text-align: center;
}
